html {
    overflow-y: scroll;
}

body {
  background-color: #fafafa;
  color: black;
  font-size: 13px;
}

.container {
  padding: 0 7px 20px 7px;
}

.container-fluid {
  background-color: #f2f2f2;
  padding: 0 9px;
}

@media(min-width: 768px) {
  .navbar-right {
      margin-right: -7px;
  }
}

h2 {
  margin-top: 0;
  font-size: 24px;
}

h3 {
  margin: 20px 0 10px 0;
  font-size: 18px;
}

.table {
  margin-bottom: 0;
}

table > tbody > tr > th,
table > tbody > tr > td,
table > tfoot > tr > th,
table > tfoot > tr > td,
table > thead > tr > th,
table > thead > tr > td {
  vertical-align: top;
}

.table-condensed > tbody > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > thead > tr > th {
  border-top: 1px solid #eee;
  padding-top: 3px;
  padding-bottom: 3px;
}

.table > thead > tr > th {
  border-top: 0;
  font-weight: normal;
}

table.MiniTable > thead > tr > td,
table.MiniTable > thead > tr > th,
table.MiniTable > tbody > tr > td,
table.MiniTable > tfoot > tr > th,
table.MiniTable > tfoot > tr > td {
  padding-right: 5px;
}

table.SimpleTable > thead > tr > td,
table.SimpleTable > thead > tr > th,
table.SimpleTable > tbody > tr > td,
table.SimpleTable > tfoot > tr > th,
table.SimpleTable > tfoot > tr > td {
  padding: 0.25em 1em 0 0;
}

table.SimpleTable > thead > tr > th {
  font-weight: normal;
  border-bottom: #ccc solid 1px;
}

.BoxHeader {
  padding-top: 4px;
  padding-bottom: 0.5em;
}

a.inherit-markup {
  color: inherit;
}

.clickable {
  cursor: pointer;
}

a.inherit-markup:hover,
.clickable:hover {
  color: #0093ff;
  text-decoration: inherit;
}

label {
  font-weight: inherit;
}

span.time-extra {
  font-size: 11px;
}
.ContentBox {
  box-shadow: 1px 1px 10px #ddd;
  background-color: white;
  border: none;
  border-radius: 0;
}

.ContentBox-single {
  margin-top: 40px;
}

.Padded {
  padding: 0 5px;
}

.Order-Started {
  background-color: #d0ffd0;
}

.Order-Ready {
  background-color: #fff6cc;
}

.Order-Finished {
  background-color: #eaf6ff;
}
