<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%highlight(%d{EE HH:mm:ss.SSS} [%thread] %-5level %logger - %msg) %n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="stderr"/>
    </root>
</configuration>
