<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <!-- Simple, readable format for agent client stderr output -->
            <pattern>%-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="stderr"/>
    </root>
</configuration>
