<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
  <!-- User may want to set the 'productKebab' property (defaults to "js7"). -->
  <properties>
    <property name="logDirectory">${sys:js7.log4j.directory:-logs}</property>
    <property name="infoPattern">%d{DEFAULT_MICROS} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %logger - %message%n</property>
    <property name="debugPattern">%d{DEFAULT_MICROS} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %notEmpty{%X{js7.correlId} }[%threadName] %logger - %message%n</property>
    <property name="fileHeader">%d{DEFAULT_MICROS} Begin %X{js7.name} · %X{js7.prettyVersion} · %X{js7.system}%n</property>
    <property name="fileFooter">%d{DEFAULT_MICROS} End of logging%n</property>
  </properties>

  <appenders>
    <console name="stderr" target="SYSTEM_ERR">
      <patternLayout pattern="$infoPattern"/>
    </console>

    <rollingRandomAccessFile name="file-info"
                             fileName="${logDirectory}/${productKebab:-js7}.log"
                             filePattern="${logDirectory}/${productKebab:-js7}-%d{yyyy-MM-dd}-%i.log.gz"
                             immediateFlush="${sys:js7.log4j.immediateFlush:-true}">
      <patternLayout>
        <pattern>${infoPattern}</pattern>
        <header>${fileHeader}</header>
        <footer>${fileFooter}</footer>
        <charset>UTF-8</charset>
      </patternLayout>
      <policies>
        <timeBasedTriggeringPolicy/>
        <sizeBasedTriggeringPolicy size="1GB"/>
      </policies>
      <defaultRolloverStrategy fileIndex="nomax">
        <delete basePath="${logDirectory}">
          <ifFileName glob="${productKebab:-js7}-*.log.gz"/>
          <ifAny>
            <ifLastModified age="8d"/>
            <ifAccumulatedFileSize exceeds="2GB"/>
          </ifAny>
        </delete>
      </defaultRolloverStrategy>
    </rollingRandomAccessFile>

    <rollingRandomAccessFile name="file-debug"
                             fileName="${logDirectory}/${productKebab:-js7}-debug.log"
                             filePattern="${logDirectory}/${productKebab:-js7}-debug-%d{yyyy-MM-dd}-%i.log.gz"
                             immediateFlush="${sys:js7.log4j.immediateFlush:-true}">
      <patternLayout>
        <pattern>${debugPattern}</pattern>
        <header>${fileHeader}</header>
        <footer>${fileFooter}</footer>
        <charset>UTF-8</charset>
      </patternLayout>
      <policies>
        <timeBasedTriggeringPolicy/>
        <sizeBasedTriggeringPolicy size="1GB"/>
      </policies>
      <defaultRolloverStrategy fileIndex="nomax">
        <delete basePath="${logDirectory}">
          <ifFileName glob="${productKebab:-js7}-debug-*.log.gz"/>
          <ifAny>
            <ifLastModified age="8d"/>
            <ifAccumulatedFileSize exceeds="2GB"/>
          </ifAny>
        </delete>
      </defaultRolloverStrategy>
    </rollingRandomAccessFile>

    <rollingRandomAccessFile name="web.log"
                             fileName="${logDirectory}/web.log"
                             filePattern="${logDirectory}/web-%d{yyyy-MM-dd}-%i.log.gz"
                             immediateFlush="${sys:js7.log4j.immediateFlush:-true}">
      <patternLayout pattern="%d{EE HH:mm:ss.SSS} %message%n"
                     charset="UTF-8"/>
      <policies>
        <timeBasedTriggeringPolicy/>
        <sizeBasedTriggeringPolicy size="1GB"/>
      </policies>
      <defaultRolloverStrategy fileIndex="nomax">
        <delete basePath="${logDirectory}">
          <ifFileName glob="web-*.log.gz"/>
          <ifAny>
            <ifLastModified age="8d"/>
            <ifAccumulatedFileSize exceeds="2GB"/>
          </ifAny>
        </delete>
      </defaultRolloverStrategy>
    </rollingRandomAccessFile>
  </appenders>

  <loggers>
    <root level="info">
      <!-- The appenderRef levels do not prevent loggers from logging and increasing CPU usage !!! -->
      <appenderRef level="warn"  ref="stderr"/>
      <appenderRef level="info"  ref="file-info"/>
      <appenderRef level="trace" ref="file-debug"/>
    </root>
    <logger level="warn"  name="org.apache.pekko.event.slf4j.Slf4jLogger"/>
    <logger level="warn"  name="org.apache.pekko.actor.CoordinatedShutdown">
      <appenderRef level="trace" ref="file-debug"/>
    </logger>

    <logger level="debug" name="js7.web">
      <!--appenderRef ref="web.log"/-->
    </logger>

    <logger level="debug" name="js7"/>
  </loggers>
</configuration>
