<?xml version="1.0" encoding="UTF-8"?>
<!--
js7/log4j2.xml is provided as log4j2.xml, too. So this file will be a default log4j2.xml.

HOW TO ADD OWN SETTINGS

1) Create a log4j2.xml like this, for example in our config directory, here with trace logging:

<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="10" shutdownHook="disable">
  <loggers>
    <logger level="trace" name="js7"/>
  </loggers>
</configuration>

2) Name this file in the log4j2.configurationFile Java system property:

java ... -Dlog4j2.configurationFile=classpath:js7/log4j2.xml,$config/log4j2.xml ...

-->

<configuration status="warn" shutdownHook="disable">
  <!-- User may want to set the 'productKebab' property (defaults to "js7"). -->
  <properties>
    <property name="logDirectory" value="${sys:js7.log4j.directory:-logs}"/>
    <property name="infoLine">
      %d{yyyy-MM-dd HH:mm:ss.SSSXX} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %logger - %message
    </property>
    <property name="infoPattern">
      %highlight{${infoLine}}{ERROR=red bold,WARN=red,INFO=default}%n
    </property>
    <property name="debugLine">
      <!-- No CorrelId for now: %notEmpty{%X{js7.correlId} }-->
      <!-- A bit slower with XX time zone: %d{yyyy-MM-dd HH:mm:ss.SSSXX}-->
      %d{yyyy-MM-dd HH:mm:ss.nnnnnn} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %-6equals{%threadName}{}{-virt-} %logger - %message
    </property>
    <property name="debugPattern">
      %highlight{${debugLine}}{ERROR=red bold,WARN=red,INFO=default,DEBUG=green,TRACE=bright_black}%n
    </property>
    <property name="fileHeader">
      %d{yyyy-MM-dd HH:mm:ss.SSSXX} Begin JS7 %X{js7.serverId} · %X{js7.prettyVersion} · %X{js7.system}%n
    </property>
    <property name="fileFooter">
      %d{yyyy-MM-dd HH:mm:ss.SSSXX} End of logging%n
    </property>
  </properties>

  <appenders>
    <console name="stderr" target="SYSTEM_ERR">
      <patternLayout pattern="${infoPattern}"/>
    </console>

    <rollingRandomAccessFile
      name="infoLog"
      fileName="${logDirectory}/${productKebab:-js7}.log"
      filePattern="${logDirectory}/${productKebab:-js7}-%d{yyyy-MM-dd}-%i.log.gz"
      immediateFlush="${sys:js7.log4j.immediateFlush:-true}">
      <patternLayout
        pattern="${infoPattern}"
        header="${fileHeader}"
        footer="${fileFooter}"
        charset="UTF-8"/>
      <policies>
        <timeBasedTriggeringPolicy/>
        <sizeBasedTriggeringPolicy size="1GB"/>
      </policies>
      <defaultRolloverStrategy fileIndex="nomax">
        <delete basePath="${logDirectory}">
          <ifFileName glob="${productKebab:-js7}-*.log.gz"/>
          <ifAny>
            <ifLastModified age="8d"/>
            <ifAccumulatedFileSize exceeds="2GB"/>
          </ifAny>
        </delete>
      </defaultRolloverStrategy>
    </rollingRandomAccessFile>

    <rollingRandomAccessFile
      name="debugLog"
      fileName="${logDirectory}/${productKebab:-js7}-debug.log"
      filePattern="${logDirectory}/${productKebab:-js7}-debug-%d{yyyy-MM-dd}-%i.log.gz"
      immediateFlush="${sys:js7.log4j.immediateFlush:-true}">
      <patternLayout
        pattern="${debugPattern}"
        header="${fileHeader}"
        footer="${fileFooter}"
        charset="UTF-8"/>
      <policies>
        <timeBasedTriggeringPolicy/>
        <sizeBasedTriggeringPolicy size="1GB"/>
      </policies>
      <defaultRolloverStrategy fileIndex="nomax">
        <delete basePath="${logDirectory}">
          <ifFileName glob="${productKebab:-js7}-debug-*.log.gz"/>
          <ifAny>
            <ifLastModified age="8d"/>
            <ifAccumulatedFileSize exceeds="2GB"/>
          </ifAny>
        </delete>
      </defaultRolloverStrategy>
    </rollingRandomAccessFile>

    <!--rollingRandomAccessFile
      name="web.log"
      fileName="${logDirectory}/web.log"
      filePattern="${logDirectory}/web-%d{yyyy-MM-dd}-%i.log.gz"
      immediateFlush="${sys:js7.log4j.immediateFlush:-true}">
      <patternLayout
        pattern="%d{EE HH:mm:ss.SSS} %message%n"
        charset="UTF-8"/>
      <policies>
        <timeBasedTriggeringPolicy/>
        <sizeBasedTriggeringPolicy size="1GB"/>
      </policies>
      <defaultRolloverStrategy fileIndex="nomax">
        <delete basePath="${logDirectory}">
          <ifFileName glob="web-*.log.gz"/>
          <ifAny>
            <ifLastModified age="8d"/>
            <ifAccumulatedFileSize exceeds="2GB"/>
          </ifAny>
        </delete>
      </defaultRolloverStrategy>
    </rollingRandomAccessFile-->
  </appenders>

  <loggers>
    <root level="info">
      <!-- The appenderRef levels do not prevent loggers from logging and increasing CPU usage !!! -->
      <appenderRef level="warn"  ref="stderr"/>
      <appenderRef level="info"  ref="infoLog"/>
      <appenderRef level="trace" ref="debugLog"/>
    </root>
    <logger level="warn"  name="org.apache.pekko.event.slf4j.Slf4jLogger"/>
    <logger level="warn"  name="org.apache.pekko.actor.CoordinatedShutdown"/>

    <!--logger level="debug" name="js7.web">
      <appenderRef ref="web.log"/>
    </logger-->

    <logger level="debug" name="js7"/>
  </loggers>
</configuration>
