<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="10">
  <properties>
    <property name="productKebab">provider</property>
  </properties>
  <loggers>
    <logger level="debug" name="js7">
      <markerFilter marker="Heartbeat" onMatch="DENY" onMismatch="NEUTRAL"/>
    </logger>
  </loggers>
</configuration>
