# .gitignore

# SUBVERSION
.svn/

# MAVEN
.surefire-*
/target/

# ECLIPSE
.classpath
.project
.settings/
.scala_dependencies

# INTELLIJ IDEA
/.idea/
/out/
*.iml

# Branch zschimmer/agent-gui
/engine-agent-gui/
