# SBT
/.bsp/sbt.json
/target/
/*/target/
/*/*/target/
/project/project/project/target/
/project/project/project/project/target/

# INTELLIJ IDEA
/.idea/
/out
/classes
idea-shared-main
idea-shared-test

# VISUAL STUDIO CODE
/.bloop/
/project/.bloop/
/project/project/.bloop/
/.metals/
/.vscode/

# MacOS
.DS_Store

# Eclipse
.classpath
.project
.settings

# npm
node_modules
