# .gitignore

# SUBVERSION
.svn/

# MAVEN
.surefire-*
/target/

# ECLIPSE
.classpath
.project
.settings/
.scala_dependencies

# INTELLIJ IDEA
/.idea/
/classes/
*.iml

# Old Intellij IDEA 15
/out/

# Branch zschimmer/agent-gui
/engine-agent-gui/
