html {
  font-size: 12px;
}

th {
  vertical-align: bottom;
}

td {
  vertical-align: top;
  white-space: nowrap;
}

th, td {
  padding: 1px 10px;
}

.td-left {
  padding-left: 0;
}

.td-right {
  padding-right: 0;
}

.side-nav {
  padding-top: 5px;
  width: 120px;
}

@media only screen and (min-width: 993px) {
  .container {
    padding-left: 125px;
    max-width: none;
  }
}

@media only screen and (max-width: 992px) {
  .hide-on-mobile {
    display: none !important;
  }
  td, th {
    padding: 1px 4px;
  }
}

@media only screen and (max-width: 600px) {
  .hide-on-phone {
    display: none !important;
  }
}

.container {
  width: 99%;
}
/*
header, main, footer {
  padding-left: 150px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
*/

.top-left {
  padding: 0;
}

.top-right {
  padding: 0;
  text-align: right;
}

.page-top-line {
  border-bottom: lightgray 0 solid;
  margin-bottom: 3em;
  color: gray;
  font-size: 10px;
}

.top-left-segment {
  white-space: nowrap;
  padding-right: 12px;
}

.top-right-segment {
  white-space: nowrap;
  padding-left: 12px;
}

.experimental-monitor {
  letter-spacing: 1.5px;
}

.freeze-toggle:hover {
  padding: 1px;
  background-color: lightgrey;
  cursor: pointer;
}

.freezed {
  color: #7ccefd;
}

.disconnected {
  color: orangered;
}

.order-count {
  margin-bottom: 1em;
}

.nowrap {
  white-space: nowrap;
}

.unimportant {
  color: lightgrey;
}

.orders-table {
  width: 10ex;
}
.orders-td {
  white-space: nowrap;
}

.orders-td-last-output {
  white-space: nowrap;
}

.Order-NotStarted {
  color: #070;
}

.Order-InProcess {
  color: #02f;
}

.Order-Finished {
  color: gray;
}

.Order-Symbol-Scheduled:before {
  content: '⏰';
  display: inline-block;
  width: 20px;
}

.Order-Symbol-StartNow:before {
  content: '━';
  display: inline-block;
  width: 20px;
}

.Order-Symbol-InProcess:before {
  color: #02f;
  content: '⚒';  /*⬤*/
  display: inline-block;
  width: 20px;
}

.Order-Symbol-Forked:before {
  content: '⇶';
  display: inline-block;
  width: 20px;
}
/*⬛*/
.Order-Symbol-Processed:before {
  content: '⬇';
  display: inline-block;
  width: 20px;
}

.Order-Symbol-Ready:before {
  content: '━';
  display: inline-block;
  width: 20px;
}

.Order-Symbol-Finished:before {
  color: gray;
  content: '☆';
  display: inline-block;
  width: 20px;
}

.orders-table {
  width: 10ex;
}

.orders-tr-enter {
  background-color: #fffce0;
}

.orders-tr-enter.orders-tr-enter-active {
  background-color: transparent;
  transition: background-color 0.7s ease-in;
}

.AttachedTo-Detachable {
  color: darkgreen;
  text-decoration: line-through;
}

.order-table {
  width: 10ex;
}

.order-td-field {
  width: 10ex;
  white-space: nowrap;
  color: gray;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.order-td-value {
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.order-variable {
  font-family: Inconsolata, Consolas, "Lucida Console", Monaco, monospace;
}

.OrderId {
  white-space: nowrap;
  font-family: Inconsolata, Consolas, "Lucida Console", Monaco, monospace;
}

.hidden-link {
  color: inherit;
}

.hidden-link:hover {
  background-color: gold;
}

.log {
  font-family: Inconsolata, Consolas, "Lucida Console", Monaco, monospace;
}

.error {
  color: orangered;
  font-family: Inconsolata, Consolas, "Lucida Console", Monaco, monospace;
}
