html {
  font-size: 12px;
}

td, th {
  padding: 1px 5px;
}
/*
.table.no-padding thead th,
.table.no-padding tbody td {
  padding: 0
}
*/
.side-nav {
  padding-top: 5px;
  width: 120px;
}

@media only screen and (min-width: 993px) {
  .container {
    padding-left: 125px;
    max-width: none;
  }
}

.container {
  width: 99%;
}
/*
header, main, footer {
  padding-left: 150px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
*/

.top-left {
  padding: 0;
}

.top-right {
  padding: 0;
  text-align: right;
}

.page-top-line {
  border-bottom: lightgray 0 solid;
  margin-bottom: 3em;
  color: gray;
  font-size: 10px;
}

.top-left-segment {
  white-space: nowrap;
  padding-right: 12px;
}

.top-right-segment {
  white-space: nowrap;
  padding-left: 12px;
}

.experimental-monitor {
  letter-spacing: 1.5px;
}

.freeze-toggle:hover {
  padding: 1px;
  background-color: lightgrey;
  cursor: pointer;
}

.freezed {
  color: #7ccefd;
}

.disconnected {
  color: orangered;
}

.order-count {
  margin-bottom: 1em;
}

.nowrap {
  white-space: nowrap;
}

.unimportant {
  color: lightgrey;
}

.orderTd {
  white-space: nowrap;
}

.orderTr-enter {
  background-color: lightblue; /*#c8ffc8;*/
}

.orderTr-enter.orderTr-enter-active {
  background-color: transparent;
  transition: background-color 5s ease-in;
}

.AttachedTo-Detachable {
  color: darkgreen;
}
