<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
  <appenders>
    <console name="console" target="SYSTEM_ERR">
      <patternLayout pattern="%highlight{%d{EE HH:mm:ss.SSS} [%thread] %-5level %logger - %message}%n"/>
    </console>
    <rollingRandomAccessFile name="file" fileName="${env:SCHEDULER_LOGS}/agent.log" filePattern="${env:SCHEDULER_LOGS}/agent-%d{yyyy-MM-dd}-%i.log.gz">
      <patternLayout pattern="%d{EE HH:mm:ss.SSS} [%thread] %-5level %logger - %message%n"/>
      <policies>
        <onStartupTriggeringPolicy/>
        <timeBasedTriggeringPolicy/>
        <sizeBasedTriggeringPolicy size="1GB"/>
      </policies>
    </rollingRandomAccessFile>
  </appenders>
  <loggers>
    <logger name="com.sos.jobscheduler.agent" level="DEBUG"/>
    <logger name="com.sos.jobscheduler.shared" level="DEBUG"/>
    <root level="INFO">
      <appenderRef ref="console" level="INFO"/>
      <appenderRef ref="file" level="DEBUG"/>
    </root>
  </loggers>
</configuration>
