<?xml version="1.0" encoding="utf-8"?>
<configuration status="warn" shutdownhook="disable">
  <appenders>
    <console name="console" target="system_err">
      <patternlayout pattern="%highlight{%d{ee hh:mm:ss.sss} %-5level{info=info, debug=debug, trace=trace} %logger - %message}%n"/>
    </console>
    <rollingrandomaccessfile name="file"
                             filename="${env:scheduler_logs}/agent.log"
                             filepattern="${env:scheduler_logs}/agent-%d{yyyy-mm-dd}-%i.log.gz"
                             immediateflush="false">
      <patternlayout pattern="%d{ee hh:mm:ss.sss} %-5level{info=info, debug=debug, trace=trace} %logger - %message%n"
                     charset="utf-8"/>
      <policies>
        <onstartuptriggeringpolicy/>
        <timebasedtriggeringpolicy/>
        <sizebasedtriggeringpolicy size="1gb"/>
      </policies>
    </rollingrandomaccessfile>
  </appenders>
  <loggers>
    <logger name="com.sos.jobscheduler.agent" level="debug"/>
    <logger name="com.sos.jobscheduler.shared" level="debug"/>
    <root level="debug">
      <appenderref ref="console" level="info"/>
      <appenderref ref="file" level="debug"/>
    </root>
  </loggers>
</configuration>
