<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <console name="stderr" target="SYSTEM_ERR">
      <!-- Simple, readable format for agent client stderr output -->
      <patternLayout pattern="%highlight{%-5level{INFO=info, DEBUG=debug, TRACE=trace} %logger - %message}{INFO=blue,WARN=red bold}%n"/>
    </console>
  </appenders>
  <loggers>
    <root level="WARN">
      <appenderRef ref="stderr"/>
    </root>
    <logger level="warn"  name="org.apache.pekko.actor.CoordinatedShutdown"/>
    <logger level="warn"  name="org.apache.pekko.event.slf4j.Slf4jLogger"/>
  </loggers>
</configuration>
