<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <console name="stderr" target="SYSTEM_ERR">
      <patternLayout pattern="%highlight{%d{DEFAULT} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %logger - %message}{INFO=blue,WARN=red bold}%n"/>
    </console>
    <rollingRandomAccessFile name="file"
                             fileName="logs/build.log"
                             filePattern="target/build-%d{yyyy-MM-dd}-%i.log.gz"
                             append="true"
                             immediateFlush="${sys:js7.log4j.immediateFlush:-true}">
      <!-- append=true is required to let forked tests append. -->
      <patternLayout>
        <pattern>%d{DEFAULT_MICROS} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %notEmpty{%X{js7.correlId} }[%threadName] %logger %notEmpty{»%marker« }- %message%n</pattern>
        <header>%d{DEFAULT_MICROS} Begin %X{js7.name} · %X{js7.version} · %X{js7.system}%n</header>
        <footer>%d{DEFAULT_MICROS} End of logging%n</footer>
        <charset>UTF-8</charset>
      </patternLayout>

      <policies>
        <timeBasedTriggeringPolicy/>
      </policies>
    </rollingRandomAccessFile>
  </appenders>
  <loggers>
    <root level="info">
      <appenderRef level="off"   ref="stderr"/>
      <appenderRef level="trace" ref="file"/>
    </root>
    <logger level="warn"  name="akka.actor.CoordinatedShutdown"/>
    <logger level="warn"  name="akka.event.slf4j.Slf4jLogger"/>
    <logger level="debug" name="js7"/>
    <logger level="trace" name="js7.journal.Journal"/>
    <logger level="trace" name="js7.launcher.forwindows"/>
    <!--logger level="trace" name="js7.subagent"/-->
    <!--logger level="trace" name="js7.agent.subagent"/-->
    <logger level="debug" name="js7.journal.watch.RealEventWatch"/>
  </loggers>
</configuration>
