<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" shutdownHook="disable">
  <!-- TestResultCollector will shut down Log4j -->
  <appenders>
    <console name="stderr" target="SYSTEM_ERR">
      <patternLayout pattern="%highlight{%d{DEFAULT} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %logger - %message}{ERROR=red bold,WARN=red,INFO=default}%n"/>
    </console>
    <!-- rollingRandomAccessFile swallows text chunks when uses with parallel test execution. -->
    <rollingFile
      name="file"
      fileName="logs/build.log"
      filePattern="logs/build-%d{yyyy-MM-dd}-%i.log.gz"
      append="true"
      immediateFlush="${sys:js7.log4j.immediateFlush:-true}">
      <!--TODO Each subproject (probably due to seperate ClassLoaders) has an own file handle
           and flushes independently, resulting in wrong concatenated buffers.
           Event parts are not written
          How to use a single file handle for all subprojects ???-->
      <!-- append=true is required to let forked tests append. -->
      <patternLayout
        pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.nnnnnn} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %notEmpty{%X{js7.correlId} }[%threadName] %logger - %message}{ERROR=red bold,WARN=red,INFO=default,DEBUG=blue,TRACE=bright_black}%n"
        header="%d{yyyy-MM-dd HH:mm:ss.nnnnnn} Begin %X{js7.name} · %X{js7.prettyVersion} · %X{js7.system}%n"
        footer="%d{yyyy-MM-dd HH:mm:ss.nnnnnn} End of logging%n"
        charset="UTF-8"/>
      <policies>
        <timeBasedTriggeringPolicy/>
      </policies>
    </rollingFile>
  </appenders>
  <loggers>
    <root level="info">
      <appenderRef level="off"   ref="stderr"/>
      <appenderRef level="trace" ref="file"/>
    </root>
    <logger level="warn"  name="org.apache.pekko.actor.CoordinatedShutdown"/>
    <logger level="warn"  name="org.apache.pekko.event.slf4j.Slf4jLogger"/>
    <logger level="trace" name="js7"/>
    <logger level="trace" name="js7.journal.Journal"/>
    <logger level="trace" name="js7.launcher.forwindows"/>
    <!--logger level="trace" name="js7.subagent"/-->
    <!--logger level="trace" name="js7.agent.subagent"/-->
    <logger level="debug" name="js7.journal.watch.RealEventWatch"/>
  </loggers>
</configuration>
