<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
  <appenders>
    <console name="stderr" target="SYSTEM_ERR">
      <patternLayout pattern="%highlight{%d{EE HH:mm:ss.SSS} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %logger %notEmpty{»%marker« }- %message}{INFO=blue,WARN=red bold}%n"/>
    </console>
    <rollingRandomAccessFile name="file"
                             fileName="target/build.log"
                             filePattern="target/build-%d{yyyy-MM-dd}-%i.log.gz"
                             append="true"
                             immediateFlush="${sys:jobscheduler.log4j.immediateFlush:-true}">
      <!-- append=true is required to let forked tests append. -->
      <policies>
        <timeBasedTriggeringPolicy/>
      </policies>
      <patternLayout pattern="%d{EE HH:mm:ss.SSS} %-5level{INFO=info, DEBUG=debug, TRACE=trace} [%threadName] %logger %notEmpty{»%marker« }- %message%n"
                     charset="UTF-8"/>
    </rollingRandomAccessFile>
  </appenders>
  <loggers>
    <root level="info">
      <appenderRef ref="stderr" level="OFF"/>
      <appenderRef ref="file"   level="DEBUG" />
    </root>
    <logger level="debug" name="jobscheduler"/>
    <logger level="trace" name="jobscheduler.core.event.journal.JournalActor"/>
  </loggers>
</configuration>
