@import url('fonts/open-sans.css');
@font-face {
  /* https://google.github.io/material-design-icons/#icon-font-for-the-web */
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(webjars/material-design-icons/3.0.1/MaterialIcons-Regular.woff2) format('woff2'),
    url(webjars/material-design-icons/3.0.1/MaterialIcons-Regular.woff) format('woff'),
    url(webjars/material-design-icons/3.0.1/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased; /* Support for all WebKit browsers. */
  text-rendering: optimizeLegibility; /* Support for Safari and Chrome. */
  -moz-osx-font-smoothing: grayscale; /* Support for Firefox. */
  font-feature-settings: 'liga'; /* Support for IE. */
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.top-line    { font-size: 1rem; vertical-align: text-bottom; }
.material-icons.text-prefix { font-size: 1.3rem; vertical-align: text-bottom; }
.app-connected .material-icons.rotate-slowly { animation: material-icons-rotate 7s linear infinite; }
@keyframes material-icons-rotate { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }
.gear { color: #505050 }

html, body { font-size: 12px; font-family: "Open Sans", Roboto, sans-serif; background-color: #fffefc }
body { background-color: transparent; }
th { vertical-align: bottom; white-space: nowrap; }
td { vertical-align: top; }
th, td { padding: 1px 10px; }
table.no-padding thead tr th,
table.no-padding tbody tr td { padding: 0 }
.td-left { padding-left: 0; }
.td-right { padding-right: 0; }
.nowrap { white-space: nowrap; }
.unimportant { color: #b0b0b0; }
.hidden-link { color: inherit; }
.hidden-link:hover { color: currentColor; background-color: gold; cursor: pointer; }
.log { font-family: Inconsolata, Consolas, "Lucida Console", Monaco, monospace; }
.error { color: orangered; font-family: Inconsolata, Consolas, "Lucida Console", Monaco, monospace; }
.sunny { color: #F4DD00; }
.clickable-row:hover { cursor: pointer; background-color: gold !important; }
.link-highlight { cursor: pointer; background-color: gold !important; }
.sheet { padding: 7px; background-color: white; }
.depth-1 { box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.sheet-headline { padding: 0 0 1rem 0; font-size: 2rem; }

.side-nav { padding-top: 5px; width: 120px; background-color: initial; }

@media (max-width: 992px) {
  .hide-on-mobile { display: none !important; }
  td, th { padding: 1px 4px; }
}
@media (max-width: 600px) {
  .hide-on-phone { display: none !important; }
}
/*
header, main, footer { padding-left: 150px; }
@media only screen and (max-width : 992px) {
  header, main, footer { padding-left: 0; }
}
*/
.app-connected    {}
.app-fetching     { background-color: #f0f0f0; opacity: 0.7; }
.app-disconnected { background-color: #f0f0f0; opacity: 0.7; }
.app-freezed      { background-color: #f0faff; opacity: 0.8; }

.page-top { width: 100%; border-bottom: lightgray 0 solid; margin-bottom: 3em; font-size: 0.85rem; }
.page-top-left { padding: 0; }
.page-top-right { padding: 0; text-align: right; }
.page-top-left-segment { white-space: nowrap; padding-right: 12px; }
.page-top-right-segment { white-space: nowrap; padding-left: 12px; }
.page-center { padding: 0 0.5rem; }

.experimental-monitor { letter-spacing: 1.5px; }
.freezed { color: #7ccefd; font-weight: bold;  }
.disconnected { color: orangered; font-weight: bold; }

.OrderId { white-space: nowrap; }

.Workflow-with-orders { margin-top: 1rem; }
.orders-Instruction { position: absolute; width: 100%; border-top: 0.5px solid #c0c0c0; margin: 3px 0; padding: 4px; height: 42px; }
.orders-Instruction-head { overflow: hidden; text-overflow: ellipsis; line-height: 1.2rem; }
.orders-Instruction-Executable { font-weight: bold; }
.orders-Instruction-Agent { font-weight: bold; }
.orders-Branch { position: absolute; padding: 0 4px; z-index: 1; background-color: white; }
.orders-Order-moving { position: absolute; transition: transform 500ms cubic-bezier(0.4, 0.0, 0.2, 1); z-index: 2; }
.orders-Order { position: relative; top: 6px; border: 3px solid transparent; padding: 0 2px; line-height: 1.1rem;
  height: 36px; overflow-y: hidden/*no scrollbar*/;
  width: 220px; overflow-x: hidden; text-overflow: ellipsis;
  cursor: pointer; transition: background-color 100ms ease-in; }
.orders-Order-OrderId { white-space: nowrap; font-weight: 600; padding-bottom: 2px; }
.orders-Order-compact { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 36ex; }
.orders-Order-State   { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: inline-block; max-width: 34ex; }
.orders-Order-changed { background-color: #fff8a0; }
.orders-Order-changed-phaseout { background-color: transparent; transition: background-color 700ms ease-in; }
.orders-Order-more { display: inline-grid; margin: 0 0 0 10px; }

/*@media (max-width: 1499px) {
  .orders-preview { display:none !important }
}*/

.order-table { width: 45ex; margin-top: 12px; margin-right: 2rem; }
.order-td-field { width: 10ex; white-space: nowrap; color: gray; padding-top: 0; padding-bottom: 0; padding-left: 0;}
.order-td-value { white-space: nowrap; padding-top: 0; padding-bottom: 0; padding-right: 0; }
.order-variable {}

.Order-Fresh      { background-color: #f4f4f4; }
.Order-Finished   { background-color: #f4f4f4; }
.Order-Processing { background-color: #ffc744; }
.Order-Stopped    { background-color: #ffe800; }
.Order-Broken     { background-color: #ff625b; }
/*.Order-Forked    { background-color: #ffe366; }*/
/*.Order-highlight      { box-shadow: 0 0 7px 2px #f99b00; }*/
.Order-highlight      { border-color: #708af9; }
.Order-child-highlight { border-color: #708af9; border-style: dotted }
/*.Order-highlight { cursor: pointer; background-color: gold !important; }
.Order-join-highlight { background-color: #FFA000 !important; }*/
.orders-preview { position: fixed; float: right; background-color: #fffefc; z-index: 1; right: 10px }

.Order-State-symbol-width { display: inline-block; width: 18px; }

.AttachedState-Attaching    { color: darkgreen; }
.AttachedState-Detaching    { color: darkgreen; text-decoration: line-through; }

.Instruction                { border: solid 1px transparent; padding: 1px 3px; }
.Instruction-Idle           { border-left: solid 1px #02f; border-top: solid 1px #02f; }
.Instruction-Ready          { border-left: solid 1px #02f; border-top: solid 1px #02f }
.Instruction-Processing     { border: solid 1px #02f; color: #02f }
.Instruction-Transitionable { border-left: solid 1px #02f; border-bottom: solid 1px #02f }
.Instruction-Finished       { border-left: solid 1px #02f; border-bottom: solid 1px #02f; }
.Workflow-symbol-col { width: 38px; }
