<?xml version="1.0" encoding="utf-8"?>
<configuration status="warn" shutdownhook="disable">
  <appenders>
    <console name="console" target="SYSTEM_ERR">
      <patternLayout pattern="%highlight{%d{EE HH:mm:ss.SSS} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %logger - %message}%n"/>
    </console>
    <rollingRandomAccessFile name="file"
                             fileName="${env:SCHEDULER_LOGS}/agent.log"
                             filePattern="${env:SCHEDULER_LOGS}/agent-%d{yyyy-MM-dd}-%i.log.gz"
                             immediateFlush="false">
      <patternLayout pattern="%d{EE HH:mm:ss.SSS} %-5level{INFO=info, DEBUG=debug, TRACE=trace} %logger - %message%n"
                     charset="UTF-8"/>
      <policies>
        <onstartuptriggeringpolicy/>
        <timebasedtriggeringpolicy/>
        <sizebasedtriggeringpolicy size="1gb"/>
      </policies>
    </rollingRandomAccessFile>
  </appenders>
  <loggers>
    <logger name="com.sos.jobscheduler.agent" level="debug"/>
    <logger name="com.sos.jobscheduler.shared" level="debug"/>
    <root level="debug">
      <appenderref ref="console" level="info"/>
      <appenderref ref="file" level="debug"/>
    </root>
  </loggers>
</configuration>
