<?xml version="1.0" encoding="utf-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%highlight(%d{EE HH:mm:ss.SSS} [%thread] %-5level %logger - %message) %n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <file>${SCHEDULER_LOGS}/agent.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %message%n</pattern>
        </encoder>
    </appender>
    <root level="TRACE">
        <appender-ref ref="stderr"/>
        <appender-ref ref="file"/>
    </root>
    <logger name="com.sos.scheduler.engine" level="DEBUG"/>
</configuration>
