<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="10">
  <properties>
    <property name="productKebab">cluster-watch</property>
  </properties>
  <loggers>
    <logger level="trace" name="js7">
      <markerFilter marker="Heartbeat" onMatch="DENY" onMismatch="NEUTRAL"/>
    </logger>
  </loggers>
</configuration>
